Flask==0.10.1
Flask-WTF==0.11
Jinja2==2.7.2
Markdown==2.5.2
MarkupSafe==0.23
Pillow==2.5.3
Pygments==1.6
Sphinx==1.2.2
Unidecode==0.04.16
WTForms==2.0.2
Werkzeug==0.10
argparse==1.2.1
docutils==0.11
gunicorn==18.0
itsdangerous==0.24
python-mpd2==0.5.3
python-slugify==0.0.7
wsgiref==0.1.2
