{% extends 'layout.html' %}
{% block extrahead %}
<style>
.thumb {  margin-top: 1em; margin-bottom: 1em; overflow:hidden;}
.filename{ min-height:3.5em; }
</style>

{% endblock %}
{%block body %}
<div class="container">

	<form action="" method=post enctype=multipart/form-data>
		<p><input type=file name='file[]' multiple="" id="fileupload">
		 <input type=submit value=upload name="upload">
		 <input type="submit" value=back name="back">
	</p>	
	</form>


    <div class="row">
        <h2>{{ pictures['folder_name'] }} </h2>
    {% for i in pictures['files'] %}
        <div class="col-lg-3 col-md-4 col-xs-12 thumb">
            <a href="{{ url_for('static', filename=pictures.relative_path+'/'+i) }}" class="thumbnail">
            <img src="{{ url_for('static', filename=pictures.relative_path+'/'+i) }}">
             </a>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
