{% extends 'layout.html' %}
{% block extrahead %}
<style>
.thumb { height: 270px; margin-top: 1em; margin-bottom: 1em; overflow:hidden;}
.filename{ min-height:3.5em; }
</style>

{% endblock %}
{%block body %}
<div class="container">
    <div class="row">
        <h2>{{ pictures['folder_name'] }} </h2>
    {% for i in pictures['files'] %}
        <div class="col-lg-3 col-md-4 col-xs-12 thumb">
            <a href="{{ url_for('static', filename=pictures.relative_path+'/'+i) }}" class="thumbnail">
            <img src="{{ url_for('static', filename=pictures.relative_path+'/'+i) }}">
             </a>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
