{% extends 'layout.html' %}
{% block extrahead %}    {% endblock %}
    {% block body %}

	<!-- Content HERE -->


    <div class="scroller-inner custombg">

		<!-- Top Navigation -->
		<div class="codrops-top clearfix">
			<div class="block block-40 clearfix">
				<!-- Menu Trigger -->
				<a href="#" id="trigger" class="menu-trigger"></a><!-- //Menu Trigger -->
				<a href="#" id="open-button" class="menu-button">
					<span class="tooltip tooltip-effect-1">
						<span class="tooltip-item">
							<i class="fa fa-ellipsis-v"></i>
						</span>	
						<span class="tooltip-content2 clearfix">
							<span class="tooltip-text2">Quick Menu</span>
						</span>
					</span>
				</a>
			</div>
		</div>

		<div class="maindiv">
			<div class="maincontent">
				<header class="chino-header">
					<h1 class="marginbottom30">Welcome, {{ solo_user }}</h1>

						<iframe src="http://free.timeanddate.com/clock/i4ggt85s/n145/fn2/fs48/fcfff/tct/pct/ftb/ts1" frameborder="0" width="245" height="70" allowTransparency="true"></iframe><!--// Clock-->	
				</header><!-- //Title -->

					
				<div class="content clearfix">
					<!-- Content Body HERE -->

					<a href="//{{ dicts.url }}:32400/web"><img src="static/images/video.png" class="imghome marginlr10 faa-pulse animated-hover"></a>
					<a href="{{ url_for('pictures') }}"><img src="static/images/pic.png" class="imghome marginlr10"></a>
					<a href="//{{ dicts.url }}:4040"><img src="static/images/music.png" class="imghome marginlr10"></a>

				</div>
			</div>
		</div>
	</div><!-- /scroller-inner -->




    {% endblock %}

    {% block extrabottom %}

	<!-- Extra JS Here -->



    {% endblock %}