<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body { color: white; background: #412b45; }
        header{
            height: 20em;
            background: #2d2d2d;
        }
        header center img{ height: 6em; margin-top:4em;  }
    </style>
    {% block extrahead %}{% endblock %}
</head>

<body>
<header>
    <div class="container">
        <center>
            <img src="{{ url_for('static', filename='images/logo1.png') }}"></img><br>
            <span class="text-center">Connect using:</br>
            <strong><a href="{{ url_for('index') }}">http://{{ dicts.IP }}/</a>
               
            </strong>
            or</br>
            <strong>
            <a href="{{ url_for('index') }}">http://blox/</a> or <br><a href="{{ url_for('index') }}">http://blox.local/</a>
            </strong>
            </span>
        </center>
    </div>
</header>
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% block extrascript %}
{% endblock %}
</body>
</html>
