{% extends 'layout.html' %}
{% block extrahead %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">

{% endblock %}
{% block body %}

<div id="pages">

<div class="container">
	<form action="" method=post enctype=multipart/form-data role="form">
        <div class="form-group">
            <label>Upload your Images</label>
            <input type=file name='file[]' multiple="" id="fileupload" > 
            <p class="help-block"><a href=#>Having trouble? Use other methods. Click me!</a><p>
        </div>
		 <input type=submit value=upload name="upload" class="btn btn-success">
        	
	</form>
    {% if dicts.error_message %}
    <h1>{{ dicts.error_message }}</h1>
    {% endif %}
    <nav>
        <ul class="pagination">
            {% if dicts.previous %}
            <li><a href="{{ url_for('pages',slug=dicts.slug, page=dicts.previous) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            {% endif %}
        {% for key in dicts.num_of_page %}
        <li {% if dicts.page == key %}class="active"{% endif %}><a href="{{ url_for('pages', slug=dicts.slug, page=key)  }}">{{ key }}</a></li> 
        {% endfor %}
    </nav>
<div id="columns">
    {% for picture in dicts.pictures %}
    <figure>
    <a href="{{ url_for('static', filename=dicts.image_url + '/' + picture) }}" >
            <img src="{{ url_for('static', filename=dicts.image_url + '/' + picture) }}" />
        </a>
            <figcaption>{{ picture }}</figcaption>
            
    
<br>
    {% if session.logged_in %}
    
    <button class="btn btn-danger" data-toggle="modal" data-target=".{{ picture | replace('.jpg', '') | replace('.png', '') | replace('.gif', '')| replace(' ','') | replace('(','')| replace(')','') }}">Delete</button>

    <form action="{{ url_for('frontimage', slug=dicts.slug, name=picture)}}" method=post>
        <button type="submit" class="btn btn-success">
            Front
        </button>

    </form>
    {% endif %}
    
        



    <div class="modal fade {{ picture | replace('.jpg', '') | replace('.png', '') | replace('.gif', '') | replace(' ','')| replace('(','')| replace(')','')}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-info">Confirmation</h4>
                </div>
                <div class="modal-body">
                  <p class="text-info">Are you sure you want to delete {{ picture }} ?
                    <a href="{{ url_for('static', filename=dicts.image_url + '/' + picture) }}" class="thumbnail">
                        <img src="{{ url_for('static', filename=dicts.image_url + '/' + picture) }}">
                    </a>
                </div>
                <div class="modal-footer">
                    <form action="" method=post>
                        <button type="submit" value="{{ dicts.image_url + '/' + picture}}" name="delete" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                     </form>
                </div>
            </div>
        </div>
   </div>
    </figure>














    {% endfor %}
    
</div>
<nav>
        <ul class="pagination">
            {% if dicts.previous %}
            <li><a href="{{ url_for('pages',slug=dicts.slug, page=dicts.previous) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
            {% endif %}
        {% for key in dicts.num_of_page %}
        <li {% if dicts.page == key %}class="active"{% endif %}><a href="{{ url_for('pages', slug=dicts.slug, page=key)  }}">{{ key }}</a></li> 
        {% endfor %}
    </nav>

</div>
{% endblock %}
