
{% extends 'layout.html' %}
{% block extrahead %}
{% endblock %}
{% block body %}
<div class="scroller whitebg"><!-- this is for emulating position fixed of the nav -->
    <div class="scroller-inner">
        <!-- Top Navigation -->
        <div class="block block-40">
            <!-- Menu Trigger -->
            <a href="#" id="trigger" class="menu-triggeronwhite"></a><!-- //Menu Trigger -->
            <a href="#" id="open-button" class="menu-buttononwhite">
                <span class="tooltip tooltip-effect-1">
                    <span class="tooltip-item">
                        <i class="fa fa-ellipsis-v"></i>
                    </span> 
                    <span class="tooltip-content2">
                        <span class="tooltip-text2onwhite">Quick Menu</span>
                    </span>
                </span>
            </a>
        </div>
                                                
        <div class="content clearfix">
            <!-- Content Body HERE -->
            <div class="inner-header">
                <div class="inner-inner">
                    <h1>Power</h1>
                    <nav>
                         <a href="{{ url_for('index') }}"><i class="fa fa-times"></i> Exit</a>
                         <a href="#"><i class="fa fa-clock-o"></i> Custom Shutdown Timer</a>
                    </nav>
                </div>
            </div>

            <div class="container">
                <form action="" method="post" enctype="multipart/form-data" class="component" >
                    <div class="powerdiv">
                        <div class="powercontent">
                            <a href="#" type="submit" value="Reboot" name="reboot"><img class="profileimg" src="{{ url_for('static', filename='img/reboot.jpg') }}" alt="profile1"></a>
                            <a href="#" type="submit" value ="Power" name="power"><img class="profileimg" src="{{ url_for('static', filename='img/poweroff.jpg') }}" alt="profile1"></a>
                        </div>
                    </div>
                </form>
            </div><!-- /component -->
        </div><!-- /container -->
        <div class="footer">
            <div class="footerinside">
                <img src="{{ url_for('static', filename='img/botlogo.png') }}">
                <p>© Blox Browser Control 2015 - 1.0</p>
            </div>
        </div>
    </div><!-- /scroller-inner -->
</div><!-- /scroller -->
{% endblock %}
