{% extends 'layout.html' %}

{% block body %}

<div class="settings">
	<div class="container">
		<h1>Settings</h1>
		<ul>
			<li><a href="{{ url_for('all_users') }}">
					<h3>User Management</h3>
				</a></li>
				<li><a href="{{ url_for('powercontrol') }}">
					<h3>Power Control</h3>
				</a></li>
				<li>
					<h3>
					{% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}</h3>
				</li>

		</ul>
	</div>
</div>

{% endblock %}